*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: sans-serif;
    transition: all ease-out 0.5s;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
}
a{
    color: black;
    text-decoration: none;
    font-size: 17px;
}
.logo{
    width:150px;
}
nav ul a{
    margin-right: 50px;
}

nav ul a:hover{
    color: var(--blue);
}

@media only screen and (max-width: 800px) {
    nav {
        display: flex;
        flex-direction: column;
        line-height: 2;
        text-align: center;
    }
}
.home{
    display: flex;
    padding: 80px 50px;
    background-color: #1289f6;
}

h1{
    font-size: 45px;
    color:white;
}
.h{
    color:white;
}
p{
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 40px;
}
.btn,
.left .btn{
    background-color:blue;
    width: fit-content;
    padding: 15px 30px;
    font-size: 19px;
    color: white;
    border-radius: 20px;
    
}
.btn:hover{
    background-color: #ffffff;
    color:blue;
}
.left{
    padding-top: 50PX;
}


@media only screen and (max-width: 800px) {
    .home {
        display: flex;
        flex-direction: column;
        line-height: 2;
        padding: 50px;
        padding-top: 10px;
    }
    .home{
        margin-top: 20px;
    }
}
.left{
    width:100%;
}
.card {
    width: 340px;
    height:545px;
    border-radius: 12px;
    padding: 20px;
    background-color: white;
  }
  
  .card-header {
    background-color: #215273;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  #lef{
    color: red;
    position: relative;
    right:9%;
    cursor: pointer;
  }
  #rig{
    color: red;
    position: relative;
    right:9%;
    cursor: pointer;
  }
  .card-header > h6 {
    margin: 5px 0px;
  }
  
  .card-body {
    margin-top: 7px;
  }
  
  .input-box {
    background-color: #f1f0f6;
    position: relative;
    border-radius: 5px;
    /* width: 100%; */
    height: 40px;
    margin: 5px;
    padding: 2px;
  }
  
  .payment-input {
    margin-top:15px;
    background-color: transparent;
    border: 0px !important;
    outline: 0px !important;
  }
  
  ::-webkit-input-placeholder {
    /* Edge */
    color: rgb(212, 212, 212);
    font-size: 12px;
    position: relative;
    bottom:3px;
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(212, 212, 212);
    font-size: 12px;
    position: relative;
    bottom:3px;
  }
  
  ::placeholder {
    color: rgb(212, 212, 212);
    font-size: 12px;
    position: relative;
    bottom:3px;
}
  
  .currency-select {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 80px;
    background-color: #1289f6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .select-box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .select-box::after {
    content: ">";
    position: absolute;
    font-weight: 600;
    right: 5px;
    bottom: 9px;
    color: #c5c7d2;
    background: #1289f6;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font: 17px "Consolas", monospace;
    pointer-events: none;
  
  }
  
  
  
  .select-items{
      display: flex;
      color: white;
      background-color: transparent;
     margin-left: 10px;
      align-items: center;
      height: 100%;
      width: 100%;
  }
  .select-items > span{
      font-size: 12px;
      font-weight: 500;
  }
  
  .svg-icon{
      width: 20px;
      height: 20px;
      margin: 0px 2px;
  }
  
  .just-div{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 0px;
  }
  
  .just-div > p {
      font-weight: 500;
      color: gray;
      font-size: 15px;
  }
  
  .just-div > select {
      width: 150px;
      height: 30px;
      padding: 5px 10px;
      font-size: 14px;
      font-weight: 500;
      border-radius: 5px;
      border: 1px solid black;
  }
  
  .just-div > h3 {
      color: #395164;
  }
  
  .btn-block{
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 14px;
      border-radius: 8px;
      background-color: #1289f6;
      outline: none;
      border: 0px !important;
      cursor: pointer;
  
  }
  .fees-notice{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0px 0px 0px;
  }
  
  .fees-notice > p {
      font-size: 8px;
      font-weight: 500;
      color: gray;
  }
  select > p{
    color: black;
  }
  
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:whitesmoke;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color:#353535;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #001aff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
li{
    color:#34344E;
    font-size:14px;
    text-align:left;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	color: #707070;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:gray;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.ime{
    width:111px;
    padding-bottom:18px;
}
.foot{
    color:#205072;
    padding-top:111px;
}.cont{
    font-size:14px;
    color:#34344E;
}
.cole{
    margin-left:0px;
}
.coll{
    margin-left:190px;
}